.AddTodoForm {
  background-color: white;
  width: 60%;
  min-width: 450px;
  padding: 4% 3%;
  border-radius: 25px;
  /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); */
}

.button {
  background-color: #5e37ff;
  color: white;
  border: none;
  border-radius: 17px;
  padding: 2% 7%;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  float: right;
  font-size: 1em;
}

.button:hover {
  background-color: #2a9d8f;
  transition: 0.3s;
}

@media screen and (max-width: 676px) {
  .AddTodoForm {
    width: 95%;
    min-width: 350px;
    display: flex;
    align-items: center;
  }

  .button {
    margin-left: 2%;
  }
}
