.ListItem {
  border-bottom: 1px solid #d1d3d4;
  padding-bottom: 1%;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: #5e37ff;
  border: none;
  border-radius: 14px;
  padding: 1.5% 2%;
  cursor: pointer;
}

.button:hover {
  background-color: #e56b6f;
  transition: 0.3s;
}

.button > svg > path {
  stroke: #ffffff;
}
