.TodoList {
  background-color: white;
  width: 60%;
  min-width: 450px;
  padding: 2% 4% 4%;
  border-radius: 25px;
  /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); */

  list-style-type: none;
}

@media screen and (max-width: 676px) {
  .TodoList {
    width: 95%;
    min-width: 350px;
  }
}
