.AddTodoForm {
  background-color: white;
  width: 40%;
  min-width: 450px;
  padding: 5% 7% 5% 6%;
  margin-left: 2%;
  margin-bottom: 10%;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.button {
  background-color: #8b65f3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 1.7% 5%;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  float: right;
  font-size: 1em;
}

.button:hover {
  background-color: #a76ef7;
  transition: 0.3s;
}
