* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #023047;
  overflow: hidden;
}

@media (max-width: 1024px) {
  body {
    overflow: visible;
  }
}

@media screen and (max-width: 676px) {
  body {
    overflow: visible;
  }
}
